<div class="container-fluid">
    <div class="row footerContainer">
        <div class="col-md-1"></div>
        <div class="col-md-2 column1">
            <h5>ATLASSIAN</h5>
            <h3>Mini-Trello</h3>
        </div>
        <div class="col-md-2 column1">
            <h6>About Mini-Trello</h6>
            <p>What's behind the Board</p>
        </div>
        <div class="col-md-2 column1">
            <h6>Jobs</h6>
            <p>Learn about open roles on the <br> Mini-Trello team </p>
        </div>
        <div class="col-md-2 column1">
            <h6>Apps</h6>
            <p>Download the Trello App for your Desktop or Mobile Devices.</p>
        </div>
        <div class="col-md-2 column1">
            <h6>contact Us</h6>
            <p>Need anything? Get in touch and we can help.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="hr"></div>
</div>