<div class="container-fluid">
    <div class="row footerContainer">
        <div class="col-md-1"></div>
        <div class="col-md-2 column1">
            <h5>ATLASSIAN</h5>
            <h3>Mini-Trello</h3>
        </div>
        <div class="col-md-2 column1">
            <h6>About Mini-Trello</h6>
            <p>What's behind the Board</p>
        </div>
        <div class="col-md-2 column1">
            <h6>Jobs</h6>
            <p>Learn about open roles on the <br> Mini-Trello team </p>
        </div>
        <div class="col-md-2 column1">
            <h6>Apps</h6>
            <p>Download the Trello App for your Desktop or Mobile Devices.</p>
        </div>
        <div class="col-md-2 column1">
            <h6>contact Us</h6>
            <p>Need anything? Get in touch and we can help.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="hr"></div>
    <div class="row footerContainer2">
        <div class="col-md-1"></div>
        <div class="col-md-5 column1">
            <div class="personal">
                <div class="language">
                    <svg class="language-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <circle cx="12" cy="12" r="10" />
                        <line x1="2" y1="12" x2="22" y2="12" />
                        <path
                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z" />
                    </svg>
                    <select name="language" id="language-select">
                        <option value="English">English</option>
                        <option value="Hindi">हिंदी (Hindi)</option>
                        <option value="Gujarati">ગુજરાતી (Gujarati)</option>
                        <option value="German">Deutsch (German)</option>
                        <option value="Spanish">Español (Spanish)</option>
                    </select>
                </div>

                <div class="personal">
                    <a href="">Privacy</a>
                    <a href="">Terms & Condition</a>
                    <a href="">Copyright &copy; 2024 Atlassian</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3 column1">
            <div class="social-apps">
                <div class="app">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="11" stroke="white" stroke-width="2" fill="none" />
                        <path fill="white"
                            d="M12 8.3A3.7 3.7 0 1 0 15.7 12 3.7 3.7 0 0 0 12 8.3Zm0 6.1A2.4 2.4 0 1 1 14.4 12 2.4 2.4 0 0 1 12 14.4ZM16.8 7.2a.9.9 0 1 1-.9-.9.9.9 0 0 1 .9.9Z" />
                    </svg>
                </div>
                <div class="app">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="11" stroke="white" stroke-width="2" fill="none" />
                        <path fill="white"
                            d="M13.3 12h1.8l.3-2.3h-2.1v-1.5c0-.7.2-1.1 1.1-1.1h1v-2a13.3 13.3 0 0 0-1.5-.1c-1.5 0-2.6.9-2.6 2.6v2h-1.8V12h1.8v6h2.1Z" />
                    </svg>
                </div>
                <div class="app">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24">
                        <path fill="white"
                            d="M22 5.8a8.5 8.5 0 0 1-2.36.64 4.13 4.13 0 0 0 1.81-2.27 8.21 8.21 0 0 1-2.61 1 4.1 4.1 0 0 0-7 3.74A11.64 11.64 0 0 1 3 4.89a4.1 4.1 0 0 0 1.27 5.47A4.07 4.07 0 0 1 2.4 9.9v.05a4.1 4.1 0 0 0 3.29 4 4.1 4.1 0 0 1-1.85.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 2 18.4a11.62 11.62 0 0 0 6.29 1.84c7.55 0 11.68-6.25 11.68-11.67v-.53A8.35 8.35 0 0 0 22 5.8z" />
                    </svg>
                </div>
                <div class="app">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24">
                        <path fill="white"
                            d="M20.47 2H3.53A1.53 1.53 0 0 0 2 3.53v16.94A1.53 1.53 0 0 0 3.53 22h16.94a1.53 1.53 0 0 0 1.53-1.53V3.53A1.53 1.53 0 0 0 20.47 2zM8.09 18.74h-3v-9h3zM6.59 8.48A1.56 1.56 0 1 1 8.15 6.92a1.57 1.57 0 0 1-1.56 1.56zm12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3v1.28a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>