<div class="container-fluid">
    <div class="featured-categories">
        <div class="above">
            <h2>Featured Categories</h2>
            <div class="inputs">
                <input type="text" placeholder="Find template">
            </div>
        </div>
        <div class="bottom">
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/business.svg" alt="business">
                </div>
                <p class="category-name">Business</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/design.svg" alt="design">
                </div>
                <p class="category-name">Design</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/education.svg" alt="education">
                </div>
                <p class="category-name">Education</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/engineering.svg" alt="engineering">
                </div>
                <p class="category-name">Engineering</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/marketing.svg" alt="marketing">
                </div>
                <p class="category-name">Marketing</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/project-management.svg" alt="project-management">
                </div>
                <p class="category-name">Project Management</p>
            </div>
            <div class="category-item">
                <div class="category-box">
                    <img src="../../assets/remote work.svg" alt="remote work">
                </div>
                <p class="category-name">Remote Work</p>
            </div>
        </div>
    </div>
</div>